.input-field, .display-field {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
}

.cv-show {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.big-text {
    max-width: 300px;
    text-align: justify;
}